:root {
  --blue: rgb(73, 119, 234);
  --white: #ffffff;
  --black: #000000;
  --grey: rgb(82, 82, 82);
}

@font-face {
  font-family: PlayfairDisplayMedium;
  src: url("../fonts/PlayfairDisplay-Medium.ttf");
}
@font-face {
  font-family: PlayFairDisplayBold;
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: LatoRegular;
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: LatoBold;
  src: url("../fonts/Lato-Bold.ttf");
}
body {
  background-color: rgb(249, 244, 232);
}
#hiring-btn {
  font-family: LatoBold;
  font-size: 1rem;
  color: var(--white);
  border: none;
  background-image: linear-gradient(
    109.9deg,
    rgba(234, 180, 80, 1) 12.9%,
    rgba(234, 86, 115, 1) 91.3%
  );
  padding: 0.5rem 0;
}
.btn-primary,
.btn-primary:hover {
  color: var(--white);
  font-family: LatoBold;
  background-color: var(--blue);
  font-size: 1.1rem;
  padding: 0.85rem 0;
  border: none;
}
.col-lg-4 {
  display: flex;
  justify-content: center;
}
.col-lg-4 {
  width: 25rem;
  height: 30rem;
}
.col-lg-4 img {
  height: 25rem;
  width: 20rem;
}
.col-lg-4 img[alt="Purple"] {
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  z-index: 3;
}
.col-lg-4 img[alt="Blue"] {
  transform: rotate(-55deg);
  -webkit-transform: rotate(-55deg);
  z-index: 1;
}
.col-lg-4 img[alt="Pink"] {
  transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  z-index: 2;
}
section img {
  position: absolute;
}
.col-lg-4 img:first-of-type {
  z-index: 999;
  /* position: relative; */
}
div h1 {
  font-family: PlayFairDisplayBold;
  font-size: 4rem;
  color: var(--black);
}
div h2 {
  font-family: LatoRegular;
  color: var(--grey);
  font-size: 1.3rem;
}
input {
  border: none;
  border-radius: 0.3rem;
  font-family: LatoRegular;
  font-size: 1.03rem;
}
main {
  margin-bottom: 5rem;
}
main ul {
  list-style-type: none;
  background: url("../Assets/Checkmark.svg") no-repeat;
}
main ul li {
  font-family: LatoRegular;
  color: var(--grey);
  font-size: 1.2rem;
}

nav .nav-link,
nav .nav-link:hover,
nav .nav-link:focus,
nav .nav-link:active,
footer .nav-link,
footer .nav-link:active,
footer .nav-link:hover,
footer .nav-link:focus {
  color: var(--grey);
  font-family: LatoRegular;
  font-size: 1.15rem;
}
span p:first-of-type {
  font-family: PlayfairDisplayMedium;
  color: var(--black);
  font-size: 1.1rem;
}
span p:last-of-type {
  font-family: LatoBold;
  color: var(--black);
  font-size: 1.2rem;
}
@media (max-width: 426px) {
  main{
    margin-bottom: 0;
  }
  body {
    width: 100vh;
  }
  div h2,
  footer .nav-link {
    font-size: 1.4rem;
  }
  input,
  .btn-primary,
  span p:last-of-type,
  span p:first-of-type {
    font-size: 1.25rem;
  }
  main ul li {
    font-size: 1.225rem;
  }
}
